---
title: index
nav: index
---

<h2>About</h2>
<p>
    The purpose of the Cornell Scientific Software Club is to learn about
    modern tools relevant for developing and deploying scientific codes.
    Researchers from all areas of computational science and engineering
    are welcome.  The planned meeting time is Mondays at 6 pm,
    starting on 2016-09-12 (the Monday after Labor Day) in Gates 122.
    We have a list of <a href="plans.html">planned topics</a>,
    but so far no specific schedule.
</p>

<h2>Resources</h2>
<p>
If you are interested in participating, please:
</p>
<ul>
  <li>
    <a href="https://orgsync.com/145925/chapter">Join on OrgSync</a>.
    Membership is free, and your official
    participation will help us in making room requests and securing funding
    and resources (e.g. cloud computing cycles).
  </li>
  <li>Sign up for the mailing list by sending an email:</li>
  <ul>
    <li>To: <tt>ssw-club-l-request@cornell.edu</tt></li>
    <li>Subject: <tt>join</tt></li>
  </ul>
</ul>

<h2>Getting Started</h2>
<p>
  SSW intends to run on a yearly cycle, with the beginning of each fall semester
  as a crash-course on getting started using computational clusters.  The first
  three meetings have extensive notes with the intent of enabling you to work
  through them on your own.
</p>
<center>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
      <colgroup>
        <col class="col-xs-4">
        <col class="col-xs-8">
      </colgroup>
      <thead>
        <tr>
          <th>Meeting Link</th>
          <th>Topics Covered</th>
        </tr>
      </thead>
      <tr>
        <td><a href="/meetings/2016-09-12">Welcome to SSW</a></td>
        <td>
          <p>
            In the first meeting, we cover the goals of the club as well as how to begin
            interacting with your computer's <i>terminal</i>.
          </p>
          <p>
            The goal of these meeting notes is to provide users new to their <i>terminal</i>
            with a listing of common commands they will need to use in order to navigate.
          </p>
        </td>
      </tr>
      <tr>
        <td><a href="/meetings/2016-09-19">Working with Remote Hosts</a></td>
        <td>
          <p>
            In the second meeting, we cover what it means to work with a computational
            cluster as well as how to log into one.
          </p>
          <p>
            Two <b>extraordinarily</b> useful development tools such (<code>git</code>
            and <code>ssh</code>) are covered, as well as how to configure these tools
            to streamline the development process.
          </p>
        </td>
      </tr>
      <tr>
        <td><a href="/meetings/2016-09-26">Using the Totient Cluster</a></td>
        <td>
          <p>
            SSW has its own <a href="/cluster.html">computational cluster</a> courtesy
            of an educational grant by Intel.  These meeting notes cover the basics of
            how to get started using the <i>Totient</i> cluster, as well as additional
            useful tools for enhancing your Unix terminal.
          </p>
        </td>
      </tr>
    </table>
  </div>
</center>

{% for post in site.posts %}
<div>
  <div>
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <p>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} &#8226; {{ post.author }}{% endif %}{% if post.meta %} &#8226; {{ post.meta }}{% endif %}</p>
  </div>
  {{ post.excerpt }}
</div>
{% endfor %}
