---
title: index
nav: index
---

<h2>About</h2>
<p>
    The purpose of the Cornell Scientific Software Club is to learn about
    modern tools relevant for developing and deploying scientific codes.
    Researchers from all areas of computational science and engineering
    are welcome.  The planned meeting time is Mondays at 6 pm,
    starting on 2016-09-12 (the Monday after Labor Day) in Gates 122.
    We have a list of <a href="plans.html">planned topics</a>,
    but so far no specific schedule.
</p>

<h2>Resources</h2>
<p>
    If you are interested in participating, please
    <a href="https://orgsync.com/145925/chapter">join on OrgSync</a>.
    Membership is free, and your official participation will help us in making
    room requests and securing funding and resources (e.g. cloud computing cycles).
</p>
<p>
    We cannot provide access to any of the clusters if you are not officially
    registered on OrgSync.
</p>

{% for post in site.posts %}
<div>
  <div>
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <p>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} &#8226; {{ post.author }}{% endif %}{% if post.meta %} &#8226; {{ post.meta }}{% endif %}</p>
  </div>
  {{ post.excerpt }}
</div>
{% endfor %}
